*{
   
    box-sizing: border-box;
    background-color: antiquewhite;
   
}
.link{

    text-decoration: none;
    border:solid 1px black;
    margin-left: 10px;
    background-color:green;
    color:rgb(31, 212, 212);
    box-shadow: 5px 5px 0px 0px rgb(114, 111, 111);
    text-align: center;
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-seri
}

.container_encabezado  nav{
    display: flex;
    flex-direction:row;
    justify-content: end;
  
}

.container_encabezado .enlaces{
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 5px 5px 0px 0px rgb(114, 111, 111);
    border:solid 1px rgb(27, 23, 23);
    background-color: blue;
    color:rgb(213, 230, 230);
    margin-left: 10px;
    text-align: center;
    font-size: 25px; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-seri;
}




.container-titulo ul{
    display:flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    
}
.container-contenido {
    display:flex;
    list-style-position: inside;
}