*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
   
}
.container_encabezado{
    width: 100%;
   
  
   
}
.container_encabezado  nav{
    display: flex;
    flex-direction:row;
    justify-content: end;
  
}

.container_encabezado .enlaces{
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 5px 5px 0px 0px rgb(114, 111, 111);
    border:solid 1px rgb(27, 23, 23);
    background-color: blue;
    color:rgb(213, 230, 230);
    margin-left: 10px;
    text-align: center;
    font-size: 25px; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-seri;
}
.container_encabezado .titulo h1{

    font-size: 40px;
display: flex;
justify-content: center;
font-style: italic;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container_encabezado .container_foto .fotonav img{
    width: 100%;
    height:600px;
    border-radius: 15px;

    

}
.containertitulo2{
    border:solid 1px black;
    display:flex;
    text-align: center;
    font-weight:bold;
    font-size: 28px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   border-radius: 10px;

}
.containertitulo2{
    display: flex;
    justify-content: center;
}

h3{
    font-weight:bold;
    font-size: 25px;
   font-family: Georgia, 'Times New Roman', Times, serif;

}
p{font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.link{

    text-decoration: none;
    border:solid 1px black;
    margin-left: 10px;
    background-color:green;
    color:rgb(31, 212, 212);
    box-shadow: 5px 5px 0px 0px rgb(114, 111, 111);
    text-align: center;
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-seri
}
.containerlogo{
    display:flex;
    height: 250px;

    
}
.patologo {
    display:flex;
    flex-direction: column;
    justify-content: end;
    background-repeat: no-repeat;
     background-image: url(./patos/design1_image2.jpg);
    width:100%;
    background-position: center;
    border-style: solid;
    
}
.patologo .logos  {
display: flex;
    width: 6rem;
    height: 6rem;
    border-radius: 10px;
    box-sizing:border-box;
    border-style: solid;
    
    
  
 
  

}.container-section .container-articulos {
    align-items: center;
   justify-content: center;
   
   
 
    


}
.container-section .container-articulos .listo{

    list-style:none;
    justify-content: center;
}

.container-section {
    display: flex;
    justify-content: space-around;
}
.container-fotos{
    display: flex;
    justify-content:space-between;
}
.container-contacto{
    display: flex;
    justify-content: space-between;
}
.container_encabezado .enlaces{
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 5px 5px 0px 0px rgb(114, 111, 111);
    border:solid 1px rgb(27, 23, 23);
    background-color: blue;
    color:rgb(213, 230, 230);
    margin-left: 10px;
    text-align: center;
    font-size: 25px; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-seri;
}

.T{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tablas .tabla {
    display: flex;
    
   
justify-content: center; }
.footer{
display:flex;
justify-content: space-between;
}
.texto1{
    font-size: 18px;
    font-style:oblique;
}
.texto2{
    font-size: 18px;
    font-style:oblique;
    font-family:'Times New Roman', Times, serif;
}
.container-texto b {
    font-size:15px;
   


}
.container-texto p {
    font-size:15px;
   


}
.container-fotos .logo1 {
    height: 215px;
    width: 200px;
    border-radius: 10px;
    box-sizing:border-box;
    border-style: solid;
   background-color: aliceblue;

}
.formulario{
    display:flex;
}
.container-formulario{
    display:flex;
   justify-content: space-around;
   
  

}
.container-formulario .formulario2 {
    display: flex;
    flex-direction: column;
}
.container-formulario .formulario2 .formu {
    display: flex;
   
}
.container-formulario .formulario3 {
    display: flex;
    flex-direction: column;
  
  
}
.container-formulario .formulario3 .formu {
    display: flex;
    
  
  
}


   

.link{

    text-decoration: none;
    border:solid 1px black;
    margin-left: 10px;
    background-color:green;
    color:rgb(31, 212, 212);
    box-shadow: 5px 5px 0px 0px rgb(114, 111, 111);
    text-align: center;
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-seri
}

.container_encabezado  nav{
    display: flex;
    flex-direction:row;
    justify-content: end;
  
}

.container_encabezado .enlaces{
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 5px 5px 0px 0px rgb(114, 111, 111);
    border:solid 1px rgb(27, 23, 23);
    background-color: blue;
    color:rgb(213, 230, 230);
    margin-left: 10px;
    text-align: center;
    font-size: 25px; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-seri;
}




.container-titulo ul{
    display:flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    
}
.container-contenido {
    display:flex;
    list-style-position: inside;
}
 dt{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.tituloli{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.container-contenido .otralist{
    list-style: lower-alpha;
    
}


.tituloregistrado{
    text-align: center;
}
span{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}
.fotonav {
    
    width: 100%;
    height:17rem;


}
.list{
    list-style-type: lower-alpha;
}
.pato1{
    display:flex;
    align-items: center;
    justify-content: center;
   
    justify-self:center;
    align-content: center;
}
.pato{
    width: 15rem;
    border-style: solid;
    justify-items: center;
    border-radius: 10px;
}
.container-contacto{
    display: flex;
    align-items: center;
    justify-content: center;
}
.articulos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mapas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}


@media only screen and (min-width:320px)and (max-width:400px) {
    
    .container_encabezado  nav{
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
          
    }
    .container_encabezado .enlaces{
        font-size: 10px;
    }
    .container_encabezado .titulo h1{
        font-size: 10px;
    }
    .patologo{
        width: 100%;
        height: 15rem;
    }
    .containertitulo2{
        font-size: 10px;
    }
.container-fotos .logo1{
    height: 80px;
    width: 80px;
}
.articulos{
    font-size: 10px;
}
.container-articulos .listo li p{
    font-size: 10px;
}
.container-articulos .listo li h3 {
    font-size: 10px;
}
.articul h3{
    font-size: 13px;

}
.articul p{
font-size: 10px;
}
.pato{
    height:8rem;
    width:8rem;
}
.articulos p{
    font-size: 10px;
}
.mapas iframe {
    display: flex;
        flex-wrap: wrap;
        flex-direction:column;
        
}

.tituloregistrado{
    font-size: 15px;
}
.formulario span{
    font-size: 12px;
}
h3{
    font-size: 15px;
}
p{
    font-size: 10px;
}
.formulario2 span{
    font-size: 12px;
}
.formulario3 span{
    font-size: 12px;
}
}

@media only screen and (min-width:401px)and (max-width:600px) {
    
    .container_encabezado  nav{
        display: flex;
        flex-wrap: wrap;
        flex-direction:column;
          
    }
    .container_encabezado .enlaces{
        font-size: 12px;
    }
    .container_encabezado .titulo h1{
        font-size: 15px;
    }
    .patologo{
        width: 100%;
        height: 15rem;
    }
    .containertitulo2{
        font-size: 13px;
    }
.container-fotos .logo1{
    height: 50px;
    width: 50px;
}
.articulos{
    font-size: 15px;
}
.container-articulos .listo li p{
    font-size: 15px;
}
.container-articulos .listo li h3 {
    font-size: 15px;
}
.articul h3{
    font-size: 13px;

}
.articul p{
font-size: 15px;
}
.pato{
    height:9rem;
    width:9rem;
}
.articulos p{
    font-size: 15px;
}
.mapas iframe {
    display: flex;
        flex-wrap: wrap;
        flex-direction:column;
        
}

.tituloregistrado{
    font-size: 20px;
}


.formulario span{
    font-size: 14px;
}
h3{
    font-size: 16px;
}
p{
    font-size: 14px;
}
.formulario2 span{
    font-size: 14px;
}
.formulario3 span{
    font-size: 14px;
}
}

